/* ARIB reserves the right to this file. All manners of plagiarism should be avoided. */

/* ================== */
/* General styles */
/* ================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: hsl(233, 8%, 62%);
}
@font-face {
    src: url("Public_Sans/static/PublicSans-Regular.ttf");
    font-family: regular-public-sans;
}
html {
    font-size: 100%;
    scroll-behavior: smooth;
}
body {
    font-size: 18px;
    font-family: regular-public-sans;
    text-align: center;
    background-color:  hsl(0, 0%, 98%);
}
/* for all elemnts with class: flex */
.flex {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
/* for all "p" elements */
p {
    font-size: 16px;
    font-weight: 300;
    padding: 5px;
    margin: 5px 0px;
}
/* for all elements with class "row" */
.row {
    width: 100%;
    padding: 50px 30px;
}
[class*="col"] {
    width: 100%;
}

.center {
    text-align: center;
}
a {
    text-decoration: none;
}


/* ================== */
/* Navbar styles  */
/* ================== */
header.flex {
    background-color: hsl(0, 0%, 98%);
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 40px;
}
.navbar {
    background: -webkit-linear-gradient(to bottom, hsl(233, 8%, 22%), rgba(0,0,0,0.4), rgba(255, 255, 255, 0.2));
    background: linear-gradient(to bottom, hsl(233, 8%, 22%), rgba(0,0,0,0.4), rgba(255, 255, 255, 0.2));
    width: 100%;
    position: absolute;
    height: 100vh;
    left: 0;
    top: 60px;
    display: none;
    padding-top: 40px;
}
.logo h1 {
    letter-spacing: 5px;
}
.navbar nav ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 98%);
    width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    opacity: 1;
}
.navbar nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: hsl(233, 26%, 24%);
    padding: 20px;
}
.toggles-div .request-btn {
    display: none;
}
.toggle-switch, .logo {
    padding: 5px;
}

.navlinks p, .toggle-switch, .logo, .desc .heading-text  {
    cursor: pointer;
}
.desc .heading-text:hover, .navlinks p:hover {
    color: hsl(136, 65%, 51%);
}
#close-icon {
    display: none;
}


/* ================== */
/* Content styles */
/* ================== */

ul.bulleted-list {
    list-style: disc inside url("newico.png");
    padding: 10px 20px;
    text-align: left;
}
ul.bulleted-list li {
    line-height: 1.5;
}
.first {
    flex-direction: column-reverse;
    background-color: #fff;
}
.first div img, .article-item img {
    width: 100%;
    height: auto;
}
#hero-image {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
.heading-text {
    color: hsl(233, 26%, 24%);
    font-weight: 400;
}
.first .intro {
    margin-top: 50px;
}
.first .intro h1 {
    font-size: 40px;
    padding: 5px;
}
.first .intro p {
    margin: 10px 0px;
    padding: 10px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

/* Hire-me button */
.request-btn {
    cursor: pointer;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    background: -webkit-linear-gradient(to right, hsl(136, 65%, 51%), hsl(233, 26%, 24%));
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: hsl(0, 0%, 98%);
    margin-top: 20px;
    font-weight: 600;
    font-family: regular-public-sans;
    margin-bottom: 30px;
}
.request-btn:hover {
    opacity: .7;
}

/* The WHY-hire-me row styles */
.why-row {
    background-color: hsl(220, 16%, 96%);
}
.why-row div {
    margin: 20px 0px;
}
div.why-row div p, .article-item {
    margin: 15px 0px;
}
.why-row div h1 {
    font-weight: 300;
}
.why-item {
    padding: 10px;
    position: relative;
}
.why-item img {
    width: 70%;
    margin: auto;
}
.why-item img, .article .col-12 .heading-text {
    margin: 10px 0px;
}
.why-item p {
    font-size: 16px;
}
.why-item .heading-text {
    font-size: 20px;
    margin: 10px 0px;
}

/* Article row */
div.article-item {
    padding: 0;
    position: relative;
    border-radius: 5px;
    text-align: left;
}
div.article-item img {
    border-radius: 5px 5px 0px 0px;
}

div.article-item p {
    font-size: 14px;
}
div.article-item p.author {
    font-size: 12px;
}
div.article-item .heading-text {
    font-size: 20px;
}
div.desc {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}

/* ================== */
/* footer styles */
/* ================== */
div.footer-icons img {
    margin: 5px;
    cursor: pointer;
}
div.footer-icons p img {
    opacity: .8;
    filter: invert(100%);
}

.footer {
    background-color: hsl(233, 26%, 24%);
}


/* ================================ */
/* for non-mobile interface */
/* ================================ */
@media screen and (min-width: 750px) {
    header.flex {
        padding: 0px 60px;
        z-index: 1;
    }
    .flex {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    body {
        text-align: left;
    }
    .row {
        padding: 50px;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33%;
    }
    .col-5 {
        width: 41%;
    }
    .col-6 {
        width: 50%;
    }
    .first {
        justify-content: space-between;
    }
    .navbar {
        position: static;
        display: block;
        background: unset;
        height: unset;
        padding-top: 0px;
        width: 60%;
    }
    .navbar nav ul {
        overflow: hidden;
        margin: auto;
        border-radius: 0px;
    }
    div.why-row {
        justify-content: center;
    }
    div.why-container {
        width: 90%;
        margin: auto;
    }
    div.why-container  .col-6 {
        width: 60%;
    }
    .navbar nav ul li {
        float: left;
        text-align: center;
    }
    .navbar nav ul li a:hover {
        border-bottom: 4px solid;
        border-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%)) 1;
    }
    .article .why-container .flex, div.footer {
        justify-content: space-between;
    }
    .article-item {
        width: 24%;
    }
    .intro {
        width: 50%;
    }
    .logo {
        padding: 18px;
    }
    .toggle-switch, #open-icon, #close-icon {
        display: none;
    }
    .toggles-div .request-btn {
        display: block;
        margin: 12px;
    }
    .hero {
        padding: 0;
    }
    .footer .col-3 {
        text-align: center;
    }
    
}