<div class="row footer flex">
    <div class="col-6 flex">
      <div class="footer-icons">
        <p>Abdulrasheed Ibraheem Akande</p>
        <p>+2348126430670</p>
        <p>aribakande@gmail.com</p>
        <a href="https://facebook.com/arib176">
          <img src="images/icon-facebook.svg" alt="">
        </a>
        <a href="https://twitter.com/aribakande">
          <img src="images/icon-twitter.svg" alt="">
        </a>
        <a href="https://instagram.com/aribakande">
          <img src="images/icon-instagram.svg" alt="">
        </a>
        <img src="images/icon-youtube.svg" alt="">
      </div>
      <div class="navlinks">
        <a href="/#"><p>About</p></a>
        <a href="#contact"><p>Contact</p></a>
        <a href="#blog"><p>Blog</p></a>
      </div>
    </div>

    <div class="col-3">
        <button class="request-btn hire">Hire Me</button>
    
      <p>© ARIB. All Rights Reserved</p>
    </div>
  </div>

  <script src="../jquery-3.5.0.js"></script>
  <script src="../script.js"></script>
</body>
</html>