<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  
  <title>ARIB | Full Stack Developer and a Writer</title>

</head>
<body>
  <header class="flex">
    <div class="logo">
      <a href="/">
        <h1 class="heading-text">ARIB</h1>
      </a>
    </div>

    <div class="navbar col-6">
      <nav>
        <ul>
            <li><a href="/#">About Me</a></li>
            <li><a href="/#skills">Skills</a></li>
            <li><a href="/#projects">Portfolio</a></li>
            <li><a href="/#contact" >Contact</a></li>
            <li><a href="/#blog">Blog</a></li>
        </ul>
      </nav>
    </div>

    <div class="toggles-div">
        <button class="request-btn hire">Hire Me</button>
      <img src="/images/icon-close.svg" alt="close-icon" id="close-icon" class="toggle-switch">
      <img src="/images/icon-hamburger.svg" alt="open-icon" id="open-icon" class="toggle-switch">
    </div>
  </header>
  <div class="row flex first">
  </div>
  
